{
  "extends": ["next/core-web-vitals", "next/typescript", "prettier"],
  "plugins": ["check-file"],
  "rules": {
    "check-file/no-index": "error",
    "check-file/filename-naming-convention": [
      "error",
      {
        "app/**/*.{ts,tsx}": "KEBAB_CASE"
      },
      {
        "ignoreMiddleExtensions": true
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "name": "next/link",
        "message": "Please import from `@/i18n/routing` instead."
      },
      {
        "name": "next/navigation",
        "importNames": ["redirect", "permanentRedirect", "useRouter", "usePathname"],
        "message": "Please import from `@/i18n/routing` instead."
      }
    ]
  },
  "ignorePatterns": ["app/lib/contentful/generated/sdk.ts"]
}
