{
  "extends": ["next/core-web-vitals", "next/typescript", "prettier"],
  "plugins": ["check-file"],
  "rules": {
    "check-file/no-index": "error",
    "check-file/filename-naming-convention": [
      "error",
      {
        "app/**/*.{ts,tsx}": "KEBAB_CASE"
      },
      {
        "ignoreMiddleExtensions": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["app/lib/contentful/types/**/*"],
      "rules": {
        "check-file/no-index": "off",
        "check-file/filename-naming-convention": "off"
      }
    }
  ]
}
