@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: theme(colors.neutral.800);
  --secondary: theme(colors.neutral.600);
  --background-color: theme(colors.neutral.50);
  --highlight: #ff6700;
  --radial-color: theme(colors.red.400);
  --banner-color: theme(colors.neutral.100);
  --success-color: theme(colors.emerald.600);
  --error-color: theme(colors.rose.500);
  --error-background: theme(colors.rose.50);
}

html.dark {
  --primary: theme(colors.white);
  --secondary: theme(colors.neutral.300);
  --background-color: theme(colors.neutral.950);
  --highlight: #fd5b38;
  --radial-color: #ff3700;
  --banner-color: theme(colors.neutral.900);
  --success-color: theme(colors.emerald.500);
  --error-color: theme(colors.rose.600);
  --error-background: theme(colors.rose.950);
}

* {
  outline-color: #e59700;
}

::selection {
  background-color: #e5970099;
}

body {
  color: var(--primary);
  background-color: var(--background-color);
}

@layer base {
  h1 {
    @apply text-4xl font-bold leading-tight md:text-5xl lg:text-7xl;
  }

  h2 {
    @apply text-3xl font-bold md:text-4xl lg:text-6xl;
  }

  h3 {
    @apply text-2xl font-semibold md:text-3xl lg:text-5xl;
  }

  h4 {
    @apply text-xl font-semibold md:text-2xl lg:text-3xl;
  }

  h6 {
    @apply text-xl font-semibold;
  }

  p {
    @apply leading-relaxed;
  }
}

@layer components {
  .base-border {
    @apply border border-black/35 dark:border-white/35;
  }
}

@layer utilities {
  .hover-effect {
    @apply cursor-pointer transition-colors duration-300 hover:bg-[--primary] hover:text-[--background-color];
  }
}
