@import 'tailwindcss';

/* Workaround with tailwind v4 https://github.com/tailwindlabs/tailwindcss/issues/15814 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-spin-slow: spin 8s linear infinite;
  --animate-infinite-scroll: scroll 50s linear infinite;

  @keyframes scroll {
    to {
      transform: translateX(-50%);
    }
  }
}

:root {
  --highlight: oklch(70% 0.22 38);
  --radial-color: oklch(75% 0.4 33 / 10%);
  --grid-color: --alpha(var(--color-neutral-600) / 10%);
  --dot-color: --alpha(var(--color-neutral-500) / 25%);
  --primary: var(--color-black);
  --secondary: var(--color-neutral-700);
  --background-color: var(--color-neutral-50);
  --surface-color: var(--color-white);
  --border-color: --alpha(var(--color-black) / 20%);
  --hover-color: --alpha(var(--color-neutral-700) / 10%);
  --error-color: var(--color-rose-600);
  --error-background: var(--color-rose-100);
}

html.dark {
  --highlight: oklch(67% 0.22 38);
  --radial-color: oklch(36% 0.25 33 / 50%);
  --grid-color: --alpha(var(--color-neutral-600) / 15%);
  --dot-color: --alpha(var(--color-neutral-500) / 30%);
  --primary: var(--color-white);
  --secondary: var(--color-neutral-300);
  --background-color: oklch(16.84% 0 0);
  --surface-color: var(--color-neutral-900);
  --border-color: --alpha(var(--color-white) / 35%);
  --hover-color: --alpha(var(--color-neutral-200) / 20%);
  --error-color: var(--color-rose-600);
  --error-background: var(--color-rose-950);
}

* {
  outline-color: oklch(70% 0.18 50);
}

::selection {
  background-color: oklch(70% 0.18 50 / 50%);
}

body {
  color: var(--primary);
  background-color: var(--background-color);
}

@layer base {
  h1 {
    @apply text-4xl leading-tight font-bold md:text-5xl lg:text-7xl;
  }

  h2 {
    @apply text-3xl font-bold md:text-4xl lg:text-6xl;
  }

  h3 {
    @apply text-2xl font-semibold md:text-3xl lg:text-5xl;
  }

  h4 {
    @apply text-xl font-semibold md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-lg font-semibold md:text-xl lg:text-2xl;
  }

  h6 {
    @apply text-xl font-semibold;
  }

  p {
    @apply leading-relaxed;
  }
}

@utility base-border {
  @apply border border-(--border-color);
}

@utility hover-effect {
  @apply cursor-pointer transition-colors duration-300 hover:bg-(--hover-color) disabled:cursor-default disabled:bg-(--transparent) disabled:opacity-60;
}

@utility text-stroke {
  color: var(--surface-color);
  text-shadow:
    1px 1px 0 var(--primary),
    -1px -1px 0 var(--primary),
    1px -1px 0 var(--primary),
    -1px 1px 0 var(--primary);
}
